[package]
name = "ya-sgx"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
anyhow = "1.0"
graphene-sgx = { version = "0.3", features = [ "ias" ] }
ya-client-model = "0.4"
ya-core-model = { version = "^0.7", features = ["sgx"] }
ya-service-bus = "0.4"
