version: "3.3"

services:

    router:
        image: yagna-goth
        entrypoint: /usr/bin/ya-relay-server

    golem-base:
        image: quay.io/golemnetwork/gb-op-geth:latest
        ports:
            - "8545:8545"
        environment:
            - GITHUB_ACTIONS=true
            - CI=true
        command: geth --dev --http --http.api 'eth,web3,net,debug,golembase' --verbosity 3 --http.addr '0.0.0.0' --http.port 8545 --http.corsdomain '*' --http.vhosts '*' --ws --ws.addr '0.0.0.0' --ws.port 8545


    proxy-nginx:
        # A service that runs `nginx` and routes API calls to
        # the `mitmproxy` instance running as part of the test
        # harness on the host machine
        image: proxy-nginx
        ports:
            # Requests to ports 6001-6100 in proxy-nginx are forwarded
            # to the MITM proxy started by the test runner, and further
            # to yagna API port (usually 6000) in yagna containers:
            # request to port 6001 is forwarded to (yagna API port in)
            # the first yagna container, request to port 6002 -- to
            # the second one, and so on.
            # To make these ports available from Docker host (on some
            # systems, Docker network may be unreachable from the host)
            # we map them to ports 16001-16100 on the host.
            - "16001-16100:6001-6100"
        extra_hosts:
            - "host.docker.internal:host-gateway"

    ethereum-mainnet:
        image: ghcr.io/golemfactory/gnt2/gnt2-docker-yagna:4c020aca5a0d
        environment:
            - GANACHE_CHAIN_ID=1

    ethereum-holesky:
        image: ghcr.io/golemfactory/gnt2/gnt2-docker-yagna:4c020aca5a0d
        environment:
            - GANACHE_CHAIN_ID=17000

    ethereum-polygon:
        image: ghcr.io/golemfactory/gnt2/gnt2-docker-yagna:4c020aca5a0d
        environment:
            - GANACHE_CHAIN_ID=137

    outbound-test:
        # A service running a TCP sink, echo and iperf3 servers
        image: outbound-test
        build:
            context: .
            dockerfile: ./outbound-test.Dockerfile
        ports:
            - "22235-22238:22235-22238"

networks:
    default:
        ipam:
            config:
                # Fix the IP address range to ensure the host machine
                # is reachable at the fixed address 172.19.0.1
                - subnet: 172.19.0.0/16
