[package]
name = "ya-payment"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
ya-core-model = { version = "0.1", features = [
    "activity",
    "driver",
    "identity",
    "market",
    "payment",
] }
ya-client-model = { version = "0.1", features = ["with-diesel"] }
ya-persistence = "0.2"
ya-service-api = "0.1"
ya-service-api-web = "0.1"
ya-service-bus = "0.2"
ya-service-api-interfaces = "0.1"
ya-net = "0.1"
actix-web = "2.0"
anyhow = "1.0.26"
base64 = "0.11"
bigdecimal = "0.1.0"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = [
    "sqlite",
    "r2d2",
    "chrono",
    "bigdecimal"
] }
diesel_migrations = "1.4"
dotenv = "0.15.0"
env_logger = "0.7"
ethkey = "0.3.1"
ethsign = "0.7"
futures = "0.3"
hex = "0.4"
lazy_static = "1.4"
libsqlite3-sys = { version = "0.9.1", features = ["bundled"] }
log = "0.4"
num-bigint = "0.2"
r2d2 = "0.8"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
thiserror = "1.0"
tokio = "0.2"
uint = "0.7"
uuid = { version = "0.8", features = ["v4"] }
structopt = "0.3"

[dev-dependencies]
ya-client = "0.3"
ya-net = { version = "0.1", features = ["service"] }
ya-sb-router = "0.1"
ya-dummy-driver = "0.1"
ya-gnt-driver = "0.1"
actix-rt = "1.0"
