
# Integration tests
/.github/workflows/goth.yml              @golemfactory/ya-sdk
/.github/workflows/nightly-goth.yml      @golemfactory/ya-sdk

# Activity
/core/activity/                          @golemfactory/exe-unit
/core/model/src/activity.rs              @golemfactory/exe-unit

/core/sgx/                               @golemfactory/exe-unit
/core/model/src/sgx.rs                   @golemfactory/exe-unit

/exe-unit/                               @golemfactory/exe-unit

/utils/transfer                          @golemfactory/exe-unit

/core/gftp/                              @golemfactory/exe-unit

# Market
/core/market/                            @golemfactory/ya-market
/core/model/src/market.rs                @golemfactory/ya-market

# Net
/core/net/                               @golemfactory/ya-net
/core/model/src/net.rs                   @golemfactory/ya-net

# Payment
/core/payment-driver                     @golemfactory/ya-payment
/core/payment                            @golemfactory/ya-payment
/core/model/src/payment.rs               @golemfactory/ya-payment

# Provider
/agent/provider                          @golemfactory/ya-provider
/golem_cli                               @golemfactory/ya-provider
/utils/agreement-utils                   @golemfactory/ya-provider
