# Yagna service REST API application key token.
YAGNA_APPKEY=__RELPLACE_ME__

# Default URL for REST API.
YAGNA_API_URL=http://127.0.0.1:7465

# Market API URL
#YAGNA_MARKET_URL=http://34.244.4.185:8080/market-api/v1/  # this is default
#YAGNA_MARKET_URL=http://127.0.0.1:5001/market-api/v1/

# Central Net Mk1 hub.
CENTRAL_NET_HOST=34.244.4.185:7464
CREDIT_ADDRESS=0xa74476443119A942dE498590Fe1f2454d7D4aC0d

# GNT Driver
CHAIN=rinkeby
ETH_FAUCET_ADDRESS=http://faucet.testnet.golem.network:4000/donate
GETH_ADDRESS=http://1.geth.testnet.golem.network:55555
GNT_CONTRACT_ADDRESS=0x924442A66cFd812308791872C4B242440c108E19
GNT_FAUCET_CONTRACT_ADDRESS=0x77b6145E853dfA80E8755a4e824c4F510ac6692e
REQUIRED_CONFIRMATIONS=5

# Descriptor file (JSON) for available ExeUnits.
#EXE_UNIT_PATH=exeunits-descriptor.json

# Credit address. Can be set same as default identity.
# It will be removed in future release -- agreement will specify it.
CREDIT_ADDRESS=0xa74476443119A942dE498590Fe1f2454d7D4aC0d

# Your human readable identity in the network.
NODE_NAME=__YOUR_NODE_NAME_HERE__

# Subnetwork identifier. You can set this value to filter nodes
# with other identifiers than selected. Useful for test purposes.
# Can be any arbitrary string, not only a number.
#SUBNET=1234567890

# Log level.
# default is info, but if you want to debug this is a magic setup, to skip payment driver overwhelming logs
#RUST_LOG=debug,tokio_core=info,tokio_reactor=info,hyper=info

