# Yagna daemon application key.
YAGNA_APPKEY=__RELPLACE_ME__

# Market API URL
YAGNA_MARKET_URL=http://34.244.4.185:8080/market-api/v1/
#YAGNA_MARKET_URL=http://127.0.0.1:5001/market-api/v1/

# Centrall Net Mk1 hub.
CENTRAL_NET_HOST=34.244.4.185:7464

# Default Url for rest API.
YAGNA_API_URL=http://127.0.0.1:7465

# Default service bus url.
GSB_URL=tcp://127.0.0.1:7464

# Descriptor file (JSON) for available ExeUnits.
#EXE_UNIT_PATH=exeunits-descriptor.json

# Application workdir.
YAGNA_DATADIR="."

# Credit address. Can be set same as default identity.
# It will be removed in future release -- agreement will specify it.
CREDIT_ADDRESS=0xa74476443119A942dE498590Fe1f2454d7D4aC0d

# Your human readable identity in the network.
NODE_NAME=__YOUR_NODE_NAME_HERE__

# Subnetwork identifier. You can set this value to filter nodes
# with other identifiers than selected. Useful for test purposes.
#SUBNET=1234567890

# Log level.
RUST_LOG=info
#RUST_LOG=debug,tokio_core=info,tokio_reactor=info,hyper=info
