[workspace]
members = [
    "agent/provider",
    "agent/requestor",
    "agent/offer-model",
    "core/activity",
    "core/gftp",
    "core/identity",
    "core/market",
    "core/model",
    "core/net",
    "core/payment",
    "core/payment-driver",
    "core/persistence",
    "core/serv",
    "core/serv-api",
    "core/serv-api/cache",
    "core/serv-api/interfaces",
    "core/serv-api/web",
    "core/serv-api/derive",
    "exe-unit",
    "exe-unit/wasm-mozjs",
    "exe-unit/wasmtime",
    "interfaces/client",
    "interfaces/model",
    "service-bus/bus",
    "service-bus/derive",
    "service-bus/proto",
    "service-bus/router",
    "service-bus/util",
    "utils/scheduler",
    "utils/actix_utils",
    "utils/transfer",
]

[patch.crates-io]
## SERVICES
ya-activity = { path = "core/activity" }
ya-payment = { path = "core/payment" }
ya-identity = { path = "core/identity" }
ya-market = { path = "core/market" }
ya-net = { path = "core/net" }

## CORE UTILS
ya-service-api = { path = "core/serv-api" }
ya-service-api-cache = { path = "core/serv-api/cache" }
ya-service-api-derive = { path = "core/serv-api/derive" }
ya-service-api-interfaces = { path = "core/serv-api/interfaces" }
ya-service-api-web = { path = "core/serv-api/web" }

## SERVICE BUS
ya-service-bus = { path = "service-bus/bus/" }
ya-sb-proto = { path = "service-bus/proto" }
ya-sb-router = { path = "service-bus/router" }
ya-sb-util = { path = "service-bus/util" }

## OTHERS
ya-agent-offer-model = { path = "agent/offer-model" }
ya-client = { path = "interfaces/client" }
ya-core-model = { path = "core/model" }
ya-exe-unit = { path = "exe-unit" }
ya-model = { path = "interfaces/model" }
ya-persistence = { path = "core/persistence" }
ya-transfer = { path = "utils/transfer" }
ya-utils-actix = { path = "utils/actix_utils"}
