[workspace]
members = [
    "agent/provider",
    "agent/requestor",
    "core/activity",
    "core/gftp",
    "core/identity",
    "core/market-decentralized",
    "core/market-forwarding",
    "core/model",
    "core/net",
    "core/payment",
    "core/payment-driver",
    "core/persistence",
    "core/serv",
    "core/serv-api",
    "core/serv-api/cache",
    "core/serv-api/interfaces",
    "core/serv-api/web",
    "core/serv-api/derive",
    "exe-unit",
    "service-bus/bus",
    "service-bus/derive",
    "service-bus/proto",
    "service-bus/router",
    "service-bus/util",
    "utils/agreement-utils",
    "utils/scheduler",
    "utils/actix_utils",
    "utils/process",
    "utils/transfer",
    "utils/path",
]

[patch.crates-io]
## SERVICES
ya-activity = { path = "core/activity" }
ya-payment = { path = "core/payment" }
ya-identity = { path = "core/identity" }
ya-market-forwarding = { path = "core/market-forwarding" }
ya-net = { path = "core/net" }

## CORE UTILS
ya-core-model = { path = "core/model" }
ya-payment-driver = { path = "core/payment-driver" }
ya-persistence = { path = "core/persistence" }
ya-service-api = { path = "core/serv-api" }
ya-service-api-cache = { path = "core/serv-api/cache" }
ya-service-api-derive = { path = "core/serv-api/derive" }
ya-service-api-interfaces = { path = "core/serv-api/interfaces" }
ya-service-api-web = { path = "core/serv-api/web" }

## SERVICE BUS
ya-service-bus = { path = "service-bus/bus/" }
ya-sb-proto = { path = "service-bus/proto" }
ya-sb-router = { path = "service-bus/router" }
ya-sb-util = { path = "service-bus/util" }

## CLIENT
ya-client = { git = "https://github.com/golemfactory/ya-client.git", rev = "baf7d33ad728b485dba555f65f517c433ffa435a"}
ya-client-model = { git = "https://github.com/golemfactory/ya-client.git", rev = "baf7d33ad728b485dba555f65f517c433ffa435a"}

## OTHERS
gftp = { path = "core/gftp" }
ya-agreement-utils = { path = "utils/agreement-utils" }
ya-exe-unit = { path = "exe-unit" }
ya-transfer = { path = "utils/transfer" }
ya-utils-actix = { path = "utils/actix_utils"}
ya-utils-path = { path = "utils/path"}
ya-utils-process = { path = "utils/process"}
