[package]
name = "yagna"
version = "0.13.0"
description = "Open platform and marketplace for distributed computations"
readme = "README.md"
authors = ["Golem Factory <contact@golem.network>"]
homepage = "https://github.com/golemfactory/yagna/core/serv"
repository = "https://github.com/golemfactory/yagna"
license = "GPL-3.0"
edition = "2018"

[features]
default = ['erc20-driver', 'erc20next-driver', 'gftp/bin']
static-openssl = ["openssl/vendored", "openssl-probe"]
dummy-driver = ['ya-dummy-driver']
erc20-driver = ['ya-erc20-driver']
erc20next-driver = ['ya-erc20next-driver']
tos = []
framework-test = []
# Temporary to make goth integration tests work
central-net = ['ya-net/central-net']
packet-trace-enable = [
    "ya-vpn/packet-trace-enable",
    "ya-file-logging/packet-trace-enable",
    "ya-net/packet-trace-enable",
    "ya-service-bus/packet-trace-enable",
]

[[bin]]
name = "yagna"
path = "core/serv/src/main.rs"

[dependencies]
ya-activity = "0.4"
ya-compile-time-utils = "0.2"
ya-core-model = { version = "^0.9" }
ya-dummy-driver = { version = "0.3", optional = true }
ya-file-logging = "0.1"
ya-gsb-api = "0.1"
ya-erc20-driver = { version = "0.4", optional = true }
ya-erc20next-driver = { version = "0.4", optional = true }
ya-identity = "0.3"
ya-market = "0.4"
ya-metrics = "0.2"
ya-net = { version = "0.3", features = ["service"] }
ya-payment = "0.3"
ya-persistence = { version = "0.3", features = ["service"] }
ya-sb-proto = "0.6.1"
ya-sb-router = "0.6.1"
ya-service-api = "0.1"
ya-service-api-derive = "0.2"
ya-service-api-interfaces = "0.2"
ya-service-api-web = "0.2"
ya-service-bus = "0.6.1"
ya-sgx = "0.2"
ya-utils-path = "0.1"
ya-utils-futures = "0.2"
ya-utils-process = { version = "0.2", features = ["lock"] }
ya-utils-networking = "0.2"
ya-fd-metrics = { path = "utils/fd-metrics" }
ya-version = "0.2"
ya-vpn = "0.2"
ya-client = "0.7"
ya-client-model = "0.5"

gftp = { version = "0.3.1", optional = true }      # just to enable gftp build for cargo-deb
ya-provider = { version = "0.3", optional = true } # just to enable conditionally running some tests

actix-rt = "2.7"
actix-service = "2"
actix-web = "4"
anyhow = "1.0"
chrono = "0.4"
directories = "2.0.2"
dotenv = "0.15.0"
futures = "0.3"
lazy_static = "1.4"
log = "0.4"
metrics = "0.12"
openssl = "0.10"
openssl-probe = { version = "0.1", optional = true }
serde = "1.0"
serde_json = "1.0"
structopt = "0.3"
tokio = { version = "1", features = ["net"] }
tokio-util = { version = "0.7", features = ["codec"] }
tokio-stream = { version = "0.1.8", features = ["io-util"] }
url = "2.1.1"
libsqlite3-sys = { workspace = true }


[dev-dependencies]
ya-test-framework = "0.1"

[package.metadata.deb]
name = "golem-requestor"
assets = [
    [
        "target/release/yagna",
        "usr/bin/",
        "755",
    ],
    [
        "target/release/gftp",
        "usr/bin/",
        "755",
    ],
    [
        "README.md",
        "usr/share/doc/yagna/",
        "644",
    ],
    [
        "core/serv/README.md",
        "usr/share/doc/yagna/service.md",
        "644",
    ],
]
conflicts = "ya-provider"
features = ["static-openssl"]
maintainer-scripts = "debian/core"
depends = "libgcc1, libc6 (>= 2.23)"
extended-description = """The Next Golem Milestone.

An open platform and marketplace for distributed computations.
"""


[package.metadata.deb.variants.provider]
name = "golem-provider"
replaces = "golem-requestor"
maintainer-scripts = "debian/provider"
features = ["static-openssl"]
depends = "libgcc1, libc6 (>= 2.23)"
assets = [
    [
        "target/release/yagna",
        "usr/bin/",
        "755",
    ],
    [
        "target/release/ya-provider",
        "usr/bin/",
        "755",
    ],
    [
        "target/release/gftp",
        "usr/bin/",
        "755",
    ],
    [
        "target/release/exe-unit",
        "usr/lib/yagna/plugins/",
        "755",
    ],
    [
        "README.md",
        "usr/share/doc/yagna/",
        "644",
    ],
    [
        "core/serv/README.md",
        "usr/share/doc/yagna/service.md",
        "644",
    ],
    [
        "agent/provider/readme.md",
        "usr/share/doc/yagna/run-provider.md",
        "644",
    ],
]

[workspace]
members = [
    "agent/provider",
    "core/activity",
    "core/gftp",
    "core/gsb-api",
    "core/identity",
    "core/market",
    "core/market/resolver",
    "core/model",
    "core/net",
    "core/payment",
    "core/payment-driver/base",
    "core/payment-driver/dummy",
    "core/payment-driver/erc20",
    "core/payment-driver/erc20next",
    "core/persistence",
    "core/serv-api",
    "core/serv-api/derive",
    "core/serv-api/interfaces",
    "core/serv-api/web",
    "core/sgx",
    "core/version",
    "core/vpn",
    "exe-unit",
    "exe-unit/runtime-api",
    "exe-unit/tokio-process-ns",
    "golem_cli",
    "utils/actix_utils",
    "utils/agreement-utils",
    "utils/cli",
    "utils/compile-time-utils",
    "utils/file-logging",
    "utils/futures",
    "utils/manifest-utils",
    "utils/manifest-utils/test-utils",
    "utils/networking",
    "utils/path",
    "utils/process",
    "utils/std-utils",
    "utils/scheduler",
    "utils/transfer",
    "utils/diesel-utils",
    "utils/fd-metrics",
    "core/metrics",
    "test-utils/test-framework",
    "test-utils/test-framework/framework-macro",
]

[workspace.dependencies]
# this entry is needed to make sqlx version >=0.5.9 work with diesel 1.4.*
# diesel 1.4.* supports up to 0.23.0, but sqlx 0.5.9 requires 0.22.0
# sqlx 0.5.10 need 0.23.2, so 0.5.9 is last version possible
libsqlite3-sys = { version = "0.26.0", features = ["bundled"] }
erc20_payment_lib = { git = "https://github.com/golemfactory/erc20_payment_lib", rev = "9043ceafacdfaced80c3717c76a87d1ea91294df" }
#erc20_payment_lib = { path = "../../payments/erc20_payment_lib/crates/erc20_payment_lib" }
#erc20_payment_lib = { version = "=0.2.2" }
rand = "0.8.5"
url = "2.3.1"
trust-dns-resolver = "0.22"
derive_more = "0.99.11"


[patch.crates-io]
## SERVICES
ya-identity = { path = "core/identity" }
ya-net = { path = "core/net" }
ya-market = { path = "core/market" }
ya-market-resolver = { path = "core/market/resolver" }
ya-activity = { path = "core/activity" }
ya-sgx = { path = "core/sgx" }
ya-payment = { path = "core/payment" }
ya-payment-driver = { path = "core/payment-driver/base" }
ya-dummy-driver = { path = "core/payment-driver/dummy" }
ya-erc20-driver = { path = "core/payment-driver/erc20" }
ya-erc20next-driver = { path = "core/payment-driver/erc20next" }
ya-version = { path = "core/version" }
ya-vpn = { path = "core/vpn" }
ya-gsb-api = { path = "core/gsb-api" }

## CORE UTILS
ya-core-model = { path = "core/model" }
ya-persistence = { path = "core/persistence" }
ya-service-api = { path = "core/serv-api" }
ya-service-api-derive = { path = "core/serv-api/derive" }
ya-service-api-interfaces = { path = "core/serv-api/interfaces" }
ya-service-api-web = { path = "core/serv-api/web" }

## SERVICE BUS
ya-service-bus = { git = "https://github.com/golemfactory/ya-service-bus.git", rev = "190f0d772f7ed0830d54a2cef77d7a177f276c68" }
ya-sb-proto = { git = "https://github.com/golemfactory/ya-service-bus.git", rev = "190f0d772f7ed0830d54a2cef77d7a177f276c68" }
ya-sb-router = { git = "https://github.com/golemfactory/ya-service-bus.git", rev = "190f0d772f7ed0830d54a2cef77d7a177f276c68" }
ya-sb-util = { git = "https://github.com/golemfactory/ya-service-bus.git", rev = "190f0d772f7ed0830d54a2cef77d7a177f276c68" }

#ya-service-bus = { path = "../ya-service-bus" }
#ya-sb-proto = { path = "../ya-service-bus/crates/proto" }
#ya-sb-router = { path = "../ya-service-bus/crates/router" }
#ya-sb-util = { path = "../ya-service-bus/crates/util" }

## CLIENT
ya-client = { git = "https://github.com/golemfactory/ya-client.git", rev = "2bb679e3bb1d61eddd713d7f19ee127595f27162" }
ya-client-model = { git = "https://github.com/golemfactory/ya-client.git", rev = "2bb679e3bb1d61eddd713d7f19ee127595f27162" }

## RELAY and networking stack
ya-relay-stack = { git = "https://github.com/golemfactory/ya-relay.git", rev = "c92a75b0cf062fcc9dbb3ea2a034d913e5fad8e5" }
ya-relay-client = { git = "https://github.com/golemfactory/ya-relay.git", rev = "c92a75b0cf062fcc9dbb3ea2a034d913e5fad8e5" }

## OTHERS
gftp = { path = "core/gftp" }
tokio-process-ns = { path = "exe-unit/tokio-process-ns" }
ya-agreement-utils = { path = "utils/agreement-utils" }
ya-std-utils = { path = "utils/std-utils" }
ya-compile-time-utils = { path = "utils/compile-time-utils" }
ya-exe-unit = { path = "exe-unit" }
ya-file-logging = { path = "utils/file-logging" }
ya-manifest-utils = { path = "utils/manifest-utils" }
ya-transfer = { path = "utils/transfer" }
ya-utils-actix = { path = "utils/actix_utils" }
ya-utils-cli = { path = "utils/cli" }
ya-utils-futures = { path = "utils/futures" }
ya-utils-networking = { path = "utils/networking" }
ya-utils-path = { path = "utils/path" }
ya-utils-process = { path = "utils/process" }
ya-diesel-utils = { path = "utils/diesel-utils" }
ya-metrics = { path = "core/metrics" }
ya-provider = { path = "agent/provider" }

## TEST UTILS
ya-manifest-test-utils = { path = "utils/manifest-utils/test-utils" }
ya-test-framework = { path = "test-utils/test-framework" }
ya-framework-macro = { path = "test-utils/test-framework/framework-macro" }

ethereum-tx-sign = { git = "https://github.com/mfranciszkiewicz/ethereum-tx-sign.git", rev = "1164c74187a9e2947faeaea7dde104c3cdec4195" }
graphene-sgx = { git = " https://github.com/golemfactory/graphene-rust.git", rev = "dbd993ebad7f9190410ea390a589348479af6407" }

diesel = { git = "https://github.com/golemfactory/yagna-diesel-patch.git", rev = "a512c66d520a9066dd9a4d1416f9109019b39563" }

# Speed up builds on macOS (will be default in next rust version probably)
# https://jakedeichert.com/blog/reducing-rust-incremental-compilation-times-on-macos-by-70-percent/
#
# TODO: reenable split-debuginfo.
# Commented out split-debuginfo makes Windows builds fail due to "`-Csplit-debuginfo=unpacked` is unstable on this platform."
# This should not be the case (cargo is meant to verify that this option is supported), but it is since version 1.65, I think.
# [profile.dev]
# split-debuginfo = "unpacked"
