[package]
name = "yagna"
version = "0.6.0"
description = "Open platform and marketplace for distributed computations"
readme = "README.md"
authors = ["Golem Factory <contact@golem.network>"]
homepage = "https://github.com/golemfactory/yagna/core/serv"
repository = "https://github.com/golemfactory/yagna"
license = "GPL-3.0"
edition = "2018"

[features]
default = ['zksync-driver', 'gnt-driver', 'gftp/bin']
static-openssl = ["openssl/vendored"]
dummy-driver = ['ya-dummy-driver']
gnt-driver = ['ya-gnt-driver']
zksync-driver = ['ya-zksync-driver']
tos = []

[[bin]]
name = "yagna"
path = "core/serv/src/main.rs"

[dependencies]
gftp = "0.1" # just to enable gftp build for cargo-deb
ya-activity = "0.2"
ya-compile-time-utils = "0.1"
ya-dummy-driver = { version = "0.1", optional = true }
ya-file-logging = "0.1"
ya-gnt-driver = { version = "0.1", optional = true }
ya-zksync-driver = { version = "0.1", optional = true }
ya-identity = "0.2"
ya-market = "0.2"
ya-metrics = "0.1"
ya-net = { version = "0.1", features = ["service"] }
ya-payment = "0.1"
ya-persistence = "0.2"
ya-sb-proto = "0.1"
ya-sb-router = "0.1"
ya-service-api = "0.1"
ya-service-api-derive = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-api-web = "0.1"
ya-service-bus = "0.2"
ya-sgx = "0.1"
ya-utils-path = "0.1"
ya-utils-futures = "0.1"
ya-utils-process = { version = "0.1", features = ["lock"] }

actix-rt = "1.0"
actix-service = "1.0"
actix-web = "3.2"
anyhow = "1.0"
chrono = "0.4"
directories = "2.0.2"
dotenv = "0.15.0"
futures = "0.3"
lazy_static = "1.4"
log = "0.4"
openssl = "0.10"
structopt = "0.3"
url = "2.1.1"
tokio = {version = "0.2.22", features=["uds"]}

[package.metadata.deb]
name="golem-requestor"
assets = [
    ["target/release/yagna", "usr/bin/", "755"],
    ["target/release/gftp", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/yagna/", "644"],
    ["core/serv/README.md", "usr/share/doc/yagna/service.md", "644"],
]
conflicts="ya-provider"
features=["static-openssl"]
maintainer-scripts="debian/core"
depends="libgcc1, libc6 (>= 2.23)"
extended-description="""The Next Golem Milestone.

An open platform and marketplace for distributed computations.
"""


[package.metadata.deb.variants.provider]
name="golem-provider"
replaces="golem-requestor"
maintainer-scripts="debian/core"
features=["static-openssl"]
depends="libgcc1, libc6 (>= 2.23)"
assets = [
    ["target/release/yagna", "usr/bin/", "755"],
    ["target/release/ya-provider", "usr/bin/", "755"],
    ["target/release/gftp", "usr/bin/", "755"],
    ["target/release/exe-unit", "usr/lib/yagna/plugins/", "755"],
    ["README.md", "usr/share/doc/yagna/", "644"],
    ["core/serv/README.md", "usr/share/doc/yagna/service.md", "644"],
    ["agent/provider/readme.md", "usr/share/doc/yagna/run-provider.md", "644"],
]


[workspace]
members = [
    "agent/provider",
    "core/activity",
    "core/gftp",
    "core/identity",
    "core/market",
    "core/market/resolver",
    "core/model",
    "core/net",
    "core/payment",
    "core/payment-driver/base",
    "core/payment-driver/dummy",
    "core/payment-driver/gnt",
    "core/payment-driver/zksync",
    "core/persistence",
    "core/serv-api",
    "core/serv-api/cache",
    "core/serv-api/derive",
    "core/serv-api/interfaces",
    "core/serv-api/web",
    "core/sgx",
    "exe-unit",
    "exe-unit/runtime-api",
    "exe-unit/tokio-process-ns",
    "golem_cli",
    "service-bus/bus",
    "service-bus/derive",
    "service-bus/proto",
    "service-bus/router",
    "service-bus/util",
    "utils/actix_utils",
    "utils/agreement-utils",
    "utils/compile-time-utils",
    "utils/futures",
    "utils/path",
    "utils/process",
    "utils/std-utils",
    "utils/scheduler",
    "utils/transfer",
    "utils/diesel-utils",
    "core/metrics"
]

[patch.crates-io]
## SERVICES
ya-activity = { path = "core/activity" }
ya-payment-driver = { path = "core/payment-driver/base" }
ya-dummy-driver = { path = "core/payment-driver/dummy" }
ya-gnt-driver = { path = "core/payment-driver/gnt" }
ya-zksync-driver = { path = "core/payment-driver/zksync" }
ya-identity = { path = "core/identity" }
ya-market = { path = "core/market" }
ya-market-resolver = { path = "core/market/resolver" }
ya-net = { path = "core/net" }
ya-payment = { path = "core/payment" }
ya-sgx = { path = "core/sgx" }

## CORE UTILS
ya-core-model = { path = "core/model" }
ya-persistence = { path = "core/persistence" }
ya-service-api = { path = "core/serv-api" }
ya-service-api-cache = { path = "core/serv-api/cache" }
ya-service-api-derive = { path = "core/serv-api/derive" }
ya-service-api-interfaces = { path = "core/serv-api/interfaces" }
ya-service-api-web = { path = "core/serv-api/web" }

## SERVICE BUS
ya-service-bus = { path = "service-bus/bus/" }
ya-sb-proto = { path = "service-bus/proto" }
ya-sb-router = { path = "service-bus/router" }
ya-sb-util = { path = "service-bus/util" }

## CLIENT
ya-client = { git = "https://github.com/golemfactory/ya-client.git", rev = "a5bfc61da8f3a5cdcafcacf3d48a9f706571a9d7"}
ya-client-model = { git = "https://github.com/golemfactory/ya-client.git", rev = "a5bfc61da8f3a5cdcafcacf3d48a9f706571a9d7"}

#ya-client = { path = "../ya-client" }
#ya-client-model = { path = "../ya-client/model" }

## OTHERS
gftp = { path = "core/gftp" }
tokio-process-ns = { path = "exe-unit/tokio-process-ns" }
ya-agreement-utils = { path = "utils/agreement-utils" }
ya-std-utils = { path = "utils/std-utils" }
ya-compile-time-utils = { path = "utils/compile-time-utils" }
ya-exe-unit = { path = "exe-unit" }
ya-file-logging = { path = "utils/file-logging" }
ya-transfer = { path = "utils/transfer" }
ya-utils-actix = { path = "utils/actix_utils"}
ya-utils-futures = { path = "utils/futures"}
ya-utils-path = { path = "utils/path"}
ya-utils-process = { path = "utils/process"}
ya-diesel-utils = { path = "utils/diesel-utils"}
ya-metrics = { path = "core/metrics" }
