[workspace]
members = [
    "agent/provider",
    "agent/requestor",
    "core/activity",
    "core/identity",
    "core/market",
    "core/model",
    "core/net",
    "core/payment",
    "core/serv",
    "core/serv-api",
    "exe-unit/api",
    "exe-unit/dummy",
    "exe-unit/wasm-mozjs",
    "exe-unit/wasmtime",
    "interfaces/client",
    "interfaces/model",
    "service-bus/bus",
    "service-bus/derive",
    "service-bus/proto",
    "service-bus/router",
    "service-bus/util",
]
