[package]
name = "ya-dummy-driver"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
ya-core-model = { version = "^0.5", features = ["driver", "identity", "payment"] }
ya-client-model = { version = "0.4" }
ya-payment-driver = "0.2"
ya-persistence = "0.2"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.4"

actix = { version = "0.10", default-features = false }
anyhow = "1.0"
bigdecimal = "0.2"
chrono = { version = "0.4", features = ["serde"] }
futures3 = { version = "0.3", features = ["compat"], package = "futures" }
log = "0.4.8"
maplit = "1.0"
serde_json = "1.0"
tokio = { version = "0.2", features = ["full"] }
uuid = { version = "0.8", features = ["v4"] }
