[package]
name = "ya-dummy-driver"
version = "0.3.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
ya-core-model = { workspace = true, features = [
    "driver",
    "identity",
    "payment",
] }
ya-client-model.workspace = true
ya-payment-driver.workspace = true
ya-persistence.workspace = true
ya-service-api-interfaces.workspace = true
ya-service-bus = { workspace = true }

anyhow = "1.0"
bigdecimal = "0.4"
chrono = { version = "0.4", features = ["serde"] }
futures3 = { version = "0.3", features = ["compat"], package = "futures" }
log = "0.4"
maplit = "1.0"
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
uuid = { version = "0.8", features = ["v4"] }
