[package]
name = "ya-vpn"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-core-model = { workspace = true, features = ["activity", "market"] }
ya-client-model = { workspace = true, features = ["sgx"] }
ya-net.workspace = true
ya-persistence.workspace = true
ya-service-api.workspace = true
ya-service-api-interfaces.workspace = true
ya-service-api-web.workspace = true
ya-service-bus = { workspace = true }
ya-utils-networking = { workspace = true, default-features = false, features = [ "vpn", ] }
ya-packet-trace = { git = "https://github.com/golemfactory/ya-packet-trace" }

actix = "0.13"
actix-web = "4"
actix-web-actors = "4"
anyhow = "1.0"
bytes = "1"
env_logger = "0.7"
futures = "0.3"
hex = { workspace = true }
ipnet = "2.3"
lazy_static = "1.4"
log = "0.4"
mime.workspace = true
rand = "0.7.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
smoltcp = { package = "ya-smoltcp", version = "0.1" }
thiserror = "1.0"
tokio = { version = "1", features = ["time"] }
tokio-stream = "0.1.6"
uuid = { version = "0.8", features = ["v4"] }

[features]
packet-trace-enable = ["ya-packet-trace/enable"]
default = []

[dev-dependencies]
ya-client = "0.8"
actix-rt = "2.7"
sha3 = "0.8.2"
structopt = "0.3"
tokio = { version = "1", features = ["time", "fs"] }
url = "2.1"
uuid = { version = "0.8", features = ["v4"] }
