[package]
name = "gftp"
version = "0.1.0"
authors = ["nieznanysprawiciel <nieznany.sprawiciel@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ya-core-model = { version = "0.1", features = ["gftp", "ethaddr", "identity"] }
ya-service-api = "0.1"
ya-service-api-derive = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.2"
ya-net="0.1"

actix-rt = "1.0"
anyhow = "1.0"
digest = "0.8.1"
log = "0.4.8"
env_logger = "0.7.1"
futures = "0.3"
structopt = "0.3.9"
sha3 = "0.8.2"
dotenv = "0.15.0"