[package]
name = "gftp"
version = "0.1.1"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default=[]
bin=['env_logger', 'dotenv']

[[bin]]
name="gftp"
required-features=['bin']

[dependencies]
ya-client-model = "0.1.0"
ya-core-model = { version = "0.1.1", features = ["gftp", "identity", "net"], path="../model" }
ya-service-bus = "0.2"
git-version="0.3"

actix-rt = "1.0"
anyhow = "1.0"
digest = "0.8.1"
dotenv = { version = "0.15.0", optional = true }
env_logger = { version = "0.7.1", optional = true }
futures = "0.3"
log = "0.4.8"
rand = "0.7.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.8.2"
structopt = "0.3.9"
thiserror = "1.0.20"
tokio = { version = "0.2", features = ["io-std", "time"] }
url = { version = "2.1.1", features = ["serde"] }

[dev-dependencies]
sha3 = "0.8.2"
tempdir = "0.3.7"
tokio = { version = "0.2", features = ["process"] }
dotenv = { version = "0.15.0" }
env_logger = { version = "0.7.1" }

[build-dependencies]
