[package]
name = "ya-erc20-driver"
version = "0.3.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
async-trait = "0.1"
anyhow = "1.0"
awc = { version = "3", features = ["openssl"] }
bigdecimal = { version = "0.2" }
chrono = { version = "0.4", features = ["serde"] }
derive_more = "0.99"
ethabi = "14.1"
ethereum-types = "0.11"
ethereum-tx-sign = "3.1"
futures = "0.3"
hex = "0.4"
lazy_static = "1.4"
log = "0.4"
maplit = "1.0"
num-bigint = { version = "0.3", features = ["serde"] }
num-traits = "0.2"
rlp = "0.5"
serde = "1.0"
serde_json = "^1.0"
sha3 = "0.8"
thiserror = "1.0"
tiny-keccak = { version = "2.0", features = ["keccak"] }
tokio = { version = "1", features = ["full"] }
uuid = { version = "0.8", features = ["v4"] }
web3 = "0.16"

## yagna dependencies
ya-payment-driver = "0.2"
ya-client-model = "0.4"
ya-service-api-interfaces = "0.1"
ya-utils-futures = "0.1"
ya-utils-networking = "0.1"

[dev-dependencies]
actix-rt = "2.7"
dotenv = "0.15.0"
env_logger = "0.7.1"
structopt = "0.3"
