[engine]
# proces interval (in seconds) is to set how often we want to recheck transaction status
# minimum 1 second, sensible maximum around 60 seconds
process-interval = 15
# proces interval after send (in seconds) is to set how long to wait after sending transaction before checking for confirmation
# sensible minimum 20 seconds, sensible maximum around 60 seconds
process-interval-after-send = 30
# proces interval after error (in seconds) is to set how long to wait after encountering error before trying again
# minimum 1 second, sensible maximum around 60 seconds
process-interval-after-error = 25

# proces interval after missing gas or token (in seconds)
# it is starting with checking every process-interval-after-no-gas-or-token-start
# and then increasing by multiplying by process-interval-after-no-gas-or-token-increase
# up to process-interval-after-no-gas-or-token-max
process-interval-after-no-gas-or-token-start = 20
process-interval-after-no-gas-or-token-max = 300
process-interval-after-no-gas-or-token-increase = 1.5

# report alive interval (in seconds) is to set how often we want to report that we are alive
# minimum 1 second, maximum is capped by gather-interval
report-alive-interval = 30
# gather interval (in seconds) is to set how often payments are gathered
# minimum 1 second, no maximum limit
gather-interval = 60
# gather payments on payment driver start (otherwise wait for first gather-interval)
gather-at-start = true
automatic-recover = false
# set to true to not respect deadlines attached to payments
ignore-deadlines = false


[chain.mainnet]
chain-name = "Mainnet"
chain-id = 1
currency-symbol = "ETH"
priority-fee = 1.01
max-fee-per-gas = 40.0
transaction-timeout = 100
token = { address = "0x7DD9c5Cba05E151C895FDe1CF355C9A1D5DA6429", symbol = "GLM" }
multi-contract = { address = "0xCfD497F7D111F14c3eF7eBEeE63771d1506f0AF8", max-at-once = 10 }
confirmation-blocks = 1
block-explorer-url = "https://etherscan.io"
external-source-check-interval = 300

[[chain.mainnet.rpc-endpoints]]
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 60
dns-source = "mainnet.rpc-node.dev.golem.network."

[chain.goerli]
chain-name = "Goerli"
chain-id = 5
currency-symbol = "tETH"
priority-fee = 0.000001
max-fee-per-gas = 10.0
transaction-timeout = 100
token = { address = "0x33af15c79d64b85ba14aaffaa4577949104b22e8", symbol = "tGLM" }
multi-contract = { address = "0x7777784f803a7bf1d7f115f849d29ce5706da64a", max-at-once = 10 }
faucet-client = { max-eth-allowed = 0.009, faucet-srv = "_goerli-faucet._tcp", faucet-host = "faucet.testnet.golem.network", faucet-lookup-domain = "dev.golem.network", faucet-srv-port = 4001 }
mint-contract = { address = "0xCCA41b09C1F50320bFB41BD6822BD0cdBDC7d85C", max-glm-allowed = 400 }
confirmation-blocks = 0
block-explorer-url = "https://goerli.etherscan.io"
external-source-check-interval = 300

[[chain.goerli.rpc-endpoints]]
names = """
ethereum-goerli-rpc.allthatnode.com,
"""
endpoints = """
https://ethereum-goerli-rpc.allthatnode.com,
"""
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 12000

[[chain.goerli.rpc-endpoints]]
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 12000
dns-source = "goerli.rpc-node.dev.golem.network."

[chain.holesky]
chain-name = "Holesky"
chain-id = 17000
currency-symbol = "tETH"
priority-fee = 0.000001
max-fee-per-gas = 20.0
transaction-timeout = 100
wrapper-contract = { address = "0xE168bCa171ccf51066E2106d8955BF22705a6905" }
token = { address = "0x8888888815bf4DB87e57B609A50f938311EEd068", symbol = "tGLM" }
multi-contract = { address = "0xAaAAAaA00E1841A63342db7188abA84BDeE236c7", max-at-once = 10 }
mint-contract = { address = "0xFACe100969FF47EB58d2CF603321B581A84bcEaC", max-glm-allowed = 400 }
distributor-contract = { address = "0xb7Fb99e86f93dc3047A12932052236d853065173" }
faucet-client = { max-eth-allowed = 0.009, faucet-srv = "_holesky-faucet._tcp", faucet-host = "faucet.testnet.golem.network", faucet-lookup-domain = "dev.golem.network", faucet-srv-port = 4002 }
confirmation-blocks = 0
block-explorer-url = "https://holesky.etherscan.io"
external-source-check-interval = 300

[[chain.holesky.rpc-endpoints]]
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 60
dns-source = "holesky.rpc-node.dev.golem.network."


[chain.mumbai]
chain-name = "Mumbai testnet"
chain-id = 80001
currency-symbol = "POL"
priority-fee = 1.0
max-fee-per-gas = 14.0
transaction-timeout = 60
token = { address = "0x2036807B0B3aaf5b1858EE822D0e111fDdac7018", symbol = "tGLM" }
multi-contract = { address = "0x800010D7d0d315DCA795110ecCf0127cBd76b89f", max-at-once = 10 }
confirmation-blocks = 1
block-explorer-url = "https://mumbai.polygonscan.com"
external-source-check-interval = 300

[[chain.mumbai.rpc-endpoints]]
names = """
polygon-testnet-rpc.allthatnode.com:8545,
"""
endpoints = """
https://polygon-testnet-rpc.allthatnode.com:8545,
"""
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 60

[[chain.mumbai.rpc-endpoints]]
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 60
dns-source = "mumbai.rpc-node.dev.golem.network."

[chain.polygon]
chain-name = "Polygon mainnet"
chain-id = 137
currency-symbol = "POL"
priority-fee = 30.111
max-fee-per-gas = 500.0
transaction-timeout = 100
token = { address = "0x0B220b82F3eA3B7F6d9A1D8ab58930C064A2b5Bf", symbol = "GLM" }
wrapper-contract = { address = "0xbB6aad747990BB6F7f56851556A3277e474C656a" }
multi-contract = { address = "0x50100d4faf5f3b09987dea36dc2eddd57a3e561b", max-at-once = 10 }
confirmation-blocks = 1
block-explorer-url = "https://polygonscan.com"
external-source-check-interval = 300

[[chain.polygon.rpc-endpoints]]
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 300
allowed-head-behind-secs = 60
dns-source = "polygon.rpc-node.dev.golem.network."

[chain.amoy]
chain-name = "Amoy testnet"
chain-id = 80002
currency-symbol = "POL"
priority-fee = 30.111
max-fee-per-gas = 500.0
transaction-timeout = 100
token = { address = "0x2b60e60d3fb0b36a7ccb388f9e71570da4c4594f", symbol = "tGLM" }
mint-contract = { address = "0xf29ff8a13211ac33861986e407190ae5c773d53c", max-glm-allowed = 400 }
wrapper-contract = { address = "0xa7b4447c1447edeb40ebbb1943e90b169ff44560" }
multi-contract = { address = "0xa0a51642a594763d78091bf03ee6bf8e8d663bba", max-at-once = 10 }
confirmation-blocks = 1
block-explorer-url = "https://amoy.polygonscan.com"
external-source-check-interval = 300

[[chain.amoy.rpc-endpoints]]
names = """
    rpc-amoy.polygon.technology,
    """
endpoints = """
    https://rpc-amoy.polygon.technology,
    """
-priority = 0
-max-timeout-ms = 5000
-verify-interval-secs = 300
-allowed-head-behind-secs = 60

[chain.sepolia]
chain-name = "Sepolia"
chain-id = 11155111
currency-symbol = "tETH"
priority-fee = 0.000001
max-fee-per-gas = 20.0
transaction-timeout = 100
token = { address = "0x167b15ada84c63427c6c813B915a42eFC72E7175", symbol = "tGLM" }
mint-contract = { address = "0x31A2a20956a40c2F358Fa5cec59D55a9C5d6fF9A", max-glm-allowed = 400 }
attestation-contract = { address = "0xC2679fBD37d54388Ce493F1DB75320D236e1815e" }
schema-registry-contract = { address = "0x0a7E2Ff54e76B8E6659aedc9103FB21c038050D0" }
confirmation-blocks = 0
block-explorer-url = "https://sepolia.etherscan.io"
external-source-check-interval = 300

[[chain.sepolia.rpc-endpoints]]
names = """
    endpoints.omniatech.io/v1/eth/sepolia/public
    ethereum-sepolia.blockpi.network/v1/rpc/public
    eth-sepolia.public.blastapi.io
    eth-sepolia-public.unifra.io
    sepolia.gateway.tenderly.co
    gateway.tenderly.co/public/sepolia
"""

endpoints = """
    https://endpoints.omniatech.io/v1/eth/sepolia/public
    https://ethereum-sepolia.blockpi.network/v1/rpc/public
    https://eth-sepolia.public.blastapi.io
    https://eth-sepolia-public.unifra.io
    https://sepolia.gateway.tenderly.co
    https://gateway.tenderly.co/public/sepolia
"""
priority = 0
max-timeout-ms = 5000
verify-interval-secs = 60
allowed-head-behind-secs = 120
