[package]
name = "ya-core-model"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []
full = ['activity', 'appkey', 'identity', 'market', 'net', 'payment', 'gftp']
activity = []
appkey = []
gftp = []
identity = []
market=[]
net=[]
payment=['bigdecimal']

[dependencies]
ya-client-model = "0.1"
ya-service-bus = "0.2"

bigdecimal = { version = "0.1.0", optional = true }
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "^1.0", features = ["derive"] }
serde_bytes = "0.11.3"
thiserror = "1.0.9"
