[package]
name = "ya-core-model"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = ['ethaddr', 'with-diesel']
full = ['activity', 'appkey', 'identity', 'market', 'net', 'payment']
activity = ['ethaddr']
appkey = []
ethaddr=[]
identity = ['ethaddr']
market=[]
net=[]
payment=[]
with-diesel=['diesel']

[dependencies]
ya-model = "0.1"
ya-service-bus = "0.2"

bigdecimal = "0.1.0"
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "^1.0", features = ["derive"] }
diesel = { version = "1.4", optional = true }
thiserror = "1.0.9"
uint = "0.7"
