[package]
name = "ya-core-model"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = ['with-diesel']
full = ['activity', 'appkey', 'identity', 'market', 'net', 'payment', 'gftp']
activity = []
appkey = []
ethaddr=[]
gftp = []
identity = ['ethaddr']
market=[]
net=[]
payment=[]
with-diesel=['diesel']

[dependencies]
ya-model = "0.1"
ya-service-bus = "0.2"

chrono = { version = "0.4", features = ["serde"] }
serde = { version = "^1.0", features = ["derive"] }
serde_bytes = "0.11.3"
diesel = { version = "1.4", optional = true }
thiserror = "1.0.9"
