[package]
name = "ya-payment-driver"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
actix = { version = "0.10", default-features = false }
anyhow = "1.0"
async-trait = "0.1"
bigdecimal = { version = "0.2" }
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["sqlite", "r2d2", "chrono"] }
diesel_migrations = "1.4"
ethereum-types = "0.6.0"
futures = "0.3"
hex = "0.4"
log = "0.4.8"
num-bigint = { version = "0.3", features = ["serde"] }
r2d2 = "0.8"
thiserror = "1.0"
tokio = { version = "0.2", features = ["macros"] }

## yagna dependencies
ya-client-model = "0.3"
ya-core-model = { version = "^0.3", features = ["driver", "identity", "payment"] }
ya-persistence = "0.2"
ya-service-bus = "0.4"

[dev-dependencies]
