[package]
name = "ya-payment-driver"
version = "0.3.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
actix = { version = "0.13", default-features = false }
anyhow = "1.0"
async-trait = "0.1"
bigdecimal = { version = "0.2" }
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["sqlite", "r2d2", "chrono"] }
diesel_migrations = "1.4"
ethereum-types = "0.12.1"
ethsign = "0.8"
futures = "0.3"
hex = "0.4"
log = "0.4"
num-bigint = { version = "0.3", features = ["serde"] }
num-traits = "0.2"
num-derive = "0.3"
r2d2 = "0.8"
sha3 = "0.9"
thiserror = "1.0"
tokio = { version = "1", features = ["macros"] }

## yagna dependencies
ya-client-model = "0.5"
ya-core-model = { version = "^0.8", features = ["driver", "identity", "payment"] }
ya-persistence = "0.3"
ya-service-bus = "0.6.1"

[dev-dependencies]
