[package]
name = "ya-payment-driver"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
actix = "0.9"
async-trait = "0.1"
bigdecimal = { version = "0.1.0" }
chrono = { version = "0.4", features = ["serde"] }
log = "0.4.8"
serde_json = "^1.0"

## yagna dependencies
ya-client-model = "0.2.0"
ya-core-model = { version = "0.2.1", features = ["driver", "identity", "payment"] }
ya-service-bus = "0.2"

[dev-dependencies]
