[package]
name = "ya-exe-unit"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[lib]
name = "ya_exe_unit"
path = "src/lib.rs"

[[bin]]
name = "exe-unit"
path = "src/bin.rs"

[target.'cfg(not(windows))'.dependencies]
nix = { version = "0.17.0" }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.8", features = ["jobapi2"] }

[dependencies]
ya-core-model = { version = "0.1", features = ["activity", "appkey"] }
ya-model = "0.1"
ya-service-bus = "0.2"
ya-transfer = "0.1"

actix = "0.9"
anyhow = "1.0.19"
async-trait = "0.1.24"
chrono = "0.4.10"
crossbeam-channel = "0.3"
dotenv = "0.15.0"
env_logger = "0.7"
futures = "0.3"
hex = "0.4.2"
lazy_static = "1.4.0"
log = "0.4.8"
pretty_env_logger = "0.3.0"
regex = "1.3.4"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8.11"
signal-hook = { version = "0.1.13", features = ["tokio-support"] }
structopt = "0.3"
thiserror = "1.0.10"
tokio = { version = "0.2.11", features = ["process", "signal", "time"] }
tokio-util = { version = "0.2", features = ["codec"] }
url = "2.1.1"

[dev-dependencies]
actix-files = "0.2.1"
actix-rt = "1.0.0"
actix-web = "2.0.0"
rand = "0.7.3"
sha3 = "0.8.2"
tempdir = "0.3.7"
