[package]
name = "ya-metrics"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"
homepage = "https://github.com/golemfactory/yagna"
repository = "https://github.com/golemfactory/yagna"
license = "LGPL-3.0"
description="Yagna metrics service"
keywords=["golem", "yagna", "metrics"]

[dependencies]
anyhow = "1.0.32"
futures = "0.3"
metrics-core="0.5.2"
metrics-runtime="0.13.1"
metrics="0.12"

