[package]
name = "ya-service-api-web"
version = "0.2.0"
description = "Web interface for modules of Yagna service and CLI"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-client = "0.7"
ya-core-model = { version = "^0.8", features = ["appkey"] }
ya-service-api = "0.1"
ya-service-api-cache = "0.1"
ya-service-bus = "0.6.1"

actix-service = "2"
actix-web = "4"
actix-web-httpauth = "0.6"
futures = "0.3"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
url = "2.1.1"
lazy_static = "1.4"

[dev-dependencies]
ya-identity = "0.3"
ya-persistence = "0.3"
ya-sb-router = "0.6.1"
ya-service-api-derive = "0.2"
ya-service-api-interfaces = "0.2"

actix-rt = "2.7"
anyhow = "1.0"
awc = "3"
env_logger = "0.7"
structopt = "0.3"
