[package]
name = "ya-service-api-web"
version = "0.1.0"
description = "Web interface for modules of Yagna service and CLI"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-core-model = { version = "0.1", features = ["appkey"] }
ya-service-api-cache = "0.1"
ya-service-bus = "0.1"

actix-service = "1.0.0"
actix-web = "2.0.0"
futures = "0.3"
log = "0.4"

[dev-dependencies]
ya-appkey = "0.1"
ya-persistence = "0.1"
ya-sb-router = "0.1"

actix-rt = "1.0"
anyhow = "1.0"
awc = "1.0"
env_logger = "0.7"
structopt = "0.3"
