[package]
name = "ya-service-api-web"
version = "0.1.1"
description = "Web interface for modules of Yagna service and CLI"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-client = "0.5"
ya-core-model = { version = "^0.5", features = ["appkey"] }
ya-service-api = "0.1"
ya-service-api-cache = "0.1"
ya-service-bus = "0.4"

actix-service = "1.0.0"
actix-web = "3.2"
actix-web-httpauth = "0.5"
futures = "0.3"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
url = "2.1.1"

[dev-dependencies]
ya-identity = "0.2"
ya-persistence = "0.2"
ya-sb-router = "0.4"
ya-service-api-derive = "0.1"
ya-service-api-interfaces = "0.1"

actix-rt = "1.1"
anyhow = "1.0"
awc = "2.0"
env_logger = "0.7"
structopt = "0.3"
