[package]
name = "ya-market-decentralized"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
market-test-suite = []
bcast-singleton = []
testing = ["actix-http", "actix-rt", "actix-service", "env_logger"]

[dependencies]
ya-agreement-utils = "0.1"
ya-metrics-utils = "0.1"
ya-std-utils = "0.1"
ya-client = "0.3"
ya-core-model = { version = "0.1", features = ["market", "net"] }
ya-market-resolver = "0.2"
ya-net = "0.1"
ya-persistence = "0.2"
ya-service-api = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-api-web = "0.1"
ya-service-bus = "0.2"

actix-web = "2.0"
async-trait = { version = "0.1.33" }
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
derive_more = "0.99.5"
diesel = { version = "1.4", features = ["chrono", "sqlite", "r2d2"] }
diesel_migrations = "1.4"
digest = "0.8.1"
futures = "0.3"
itertools = "0.9.0"
lazy_static = "1.4"
libsqlite3-sys = { version = "0.9.1", features = ["bundled"] }
log = "0.4"
metrics="0.12"
num-derive = "0.2"
num-traits = "0.2"
r2d2 = "0.8"
rand = "0.7.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.8.2"
thiserror = "1.0"
tokio = { version = "0.2", features = ["time", "sync"] }
uuid = { version = "0.8", features = ["v4"] }

# testing
actix-http = { version = "1.0.1", optional = true }
actix-rt = { version = "1.0.0", optional = true }
actix-service = { version = "1.0", optional = true }
env_logger = { version = "0.7", optional = true }

[dev-dependencies]
ya-market-decentralized = { version = "0.1", features = ["testing"] }

serde_json = "1.0"
structopt = "0.3"
tokio = { version = "0.2", features = ["macros", "rt-core"] }
