[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "goth-tests"
version = "0.1.1"
description = "Integration tests for yagna"
authors = ["GolemFactory <contact@golem.network>"]
license = "LGPL-3.0-or-later"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: AsyncIO",
]
repository = "https://github.com/golemfactory/yagna"
documentation = "https://handbook.golem.network"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8.0"
pytest = "^6.2"
pytest-asyncio = "^0.20.2"
pytest-rerunfailures = "^10.3"
pytest-split = "^0.8.1"
# goth = "^0.15.0"
# to use development goth version uncomment below
goth =  { git = "https://github.com/golemfactory/goth.git", rev = "b3961bec328cc8627d3daa169085d22286ff52e2" }

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.782"
poethepoet = "^0.10.0"

[tool.poe.tasks]
codestyle = "black --check --diff ."
goth-tests = "pytest -svx . --reruns 3 --only-rerun AssertionError --only-rerun TimeoutError --only-rerun ApiException --only-rerun goth.runner.exceptions.TemporalAssertionError --only-rerun urllib.error.URLError --only-rerun goth.runner.exceptions.CommandError"
provider-tests = "pytest -svx ./domain/ya-provider"
typecheck = "mypy ."
