[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "goth-tests"
version = "0.1.1"
description = "Integration tests for yagna"
authors = ["GolemFactory <contact@golem.network>"]
license = "LGPL-3.0-or-later"
classifiers = ["Development Status :: 3 - Alpha", "Framework :: AsyncIO"]
repository = "https://github.com/golemfactory/yagna"
documentation = "https://handbook.golem.network"
readme = "README.md"

# Uncomment to enable pulling packages from test.pypi.org
# [[tool.poetry.source]]
# name = "testpypi"
# url = "https://test.pypi.org/simple/"
# default = false
# secondary = true

[tool.poetry.dependencies]
python = "^3.10.1,<3.11"
pytest = "^7.4"
pytest-asyncio = "0.21"
pytest-split = "^0.8.1"
goth = "0.15.11"
# to use development goth version uncomment below
# goth =  { git = "https://github.com/golemfactory/goth.git", rev = "d7df17db5e936db91ef9682136dadca222b064d5" }

[tool.poetry.dev-dependencies]
black = "21.7b0"
mypy = "^1.5"
poethepoet = "^0.22"

[tool.poe.tasks]
codestyle = "black --check --diff ."
goth-tests = "pytest -W ignore::DeprecationWarning -svx ."
provider-tests = "pytest -svx ./domain/ya-provider"
typecheck = "mypy ."
