[package]
name = "ya-net"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []
service = []

[dependencies]
ya-core-model = { version = "^0.3", features=["net", "identity"] }
ya-service-api = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.4"
ya-utils-networking = "0.1"

anyhow = "1.0"
futures = "0.3"
lazy_static = "1.4"
log = "0.4"
metrics="0.12"
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "1.6", features = ["time"] }

[dev-dependencies]
ya-sb-proto = "0.3"
ya-sb-router = "0.4"

env_logger = "0.7"
serde = "1.0"
structopt = "0.3"
