[package]
name = "ya-net"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []
service = []
hybrid-net = ["ya-relay-server", "ya-relay-proto", "ya-sb-proto", "bytes", "ethsign", "tokio-util", "url", "prost", "rand"]

[dependencies]
ya-core-model = { version = "^0.4", features=["net", "identity"] }
ya-relay-server = { git = "https://github.com/golemfactory/ya-relay.git", rev = "01c0d040ba0a3758412c4549f8ba883499844a67", optional = true }
ya-relay-proto = { git = "https://github.com/golemfactory/ya-relay.git", rev = "01c0d040ba0a3758412c4549f8ba883499844a67", features = ["codec"], optional = true }
ya-sb-proto = { version = "0.4", optional = true }
ya-service-api = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.4"
ya-utils-networking = "0.1"

actix-rt = "1.0"
anyhow = "1.0"
futures = "0.3"
lazy_static = "1.4"
log = "0.4"
metrics="0.12"
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "0.2", features = ["time"] }

bytes = { version = "0.5", optional = true }
ethsign = { version = "0.8", optional = true }
tokio-util = { version = "0.3", optional = true }
url = { version = "2.2", optional = true }
prost = { version = "0.6", optional = true }
rand = { version = "0.7", optional = true}

[dev-dependencies]
ya-sb-proto = "0.4"
ya-sb-router = "0.4"

env_logger = "0.7"
serde = "1.0"
structopt = "0.3"
