[package]
name = "ya-net"
version = "0.1.1"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []
service = []

[dependencies]
ya-client-model = "0.1"
ya-core-model = { version = "^0.2", features=["net", "identity"] }
ya-service-api = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.2"

actix-rt = "1.0"
anyhow = "1.0"
futures = "0.3"
log = "0.4"
serde_json = "1.0"
thiserror = "1.0"

[[example]]
name = "test_net_mk1"
required-features = ["service"]

[dev-dependencies]
ya-sb-proto = "0.1"
ya-sb-router = "0.1"

env_logger = "0.7"
serde = "1.0"
structopt = "0.3"
