[package]
name = "ya-net"
version = "0.1.1"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-core-model = "0.1"
ya-sb-router = "0.1"
ya-service-api = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.2"

anyhow = "1.0"
log = "0.4"
rmp-serde = "0.14"

[dependencies.futures]
package = "futures"
version = "0.3"

[dev-dependencies]
actix-rt = "1.0"
env_logger = "0.7"
structopt = "0.3"
serde = "1.0"
