[package]
name = "ya-net"
version = "0.1.1"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []
service = []

[dependencies]
ya-core-model = { version = "0.3", features=["net", "identity"] }
ya-service-api = "0.1"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.3"

actix-rt = "1.0"
anyhow = "1.0"
futures = "0.3"
lazy_static = "1.4"
log = "0.4"
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "0.2", features = ["time"] }
trust-dns-resolver = { version = "0.19", features = ["mdns"] }

[dev-dependencies]
ya-sb-proto = "0.1"
ya-sb-router = "0.3"

env_logger = "0.7"
serde = "1.0"
structopt = "0.3"
