[package]
name = "ya-version"
version = "0.2.0"
description = "Version handling"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-service-api-web.workspace = true
ya-client.workspace = true
ya-compile-time-utils.workspace = true
ya-core-model = { workspace = true, features = ["version"] }
ya-net = { workspace = true, features = ["service"] }
ya-persistence.workspace = true
ya-service-api.workspace = true
ya-service-api-interfaces.workspace = true
ya-service-bus = { workspace = true }

actix-web = "4"
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["chrono", "sqlite", "r2d2"] }
diesel_migrations = "1.4"
log = "0.4"
metrics = "0.12"
self_update = "0.23"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3.21"
thiserror = "^1.0"
tokio = { version = "1", features = ["time", "sync"] }
problem_details = "0.6.0"
http = "1.1.0"
