[package]
name = "ya-provider"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-client = "0.1"
ya-model = "0.1"
ya-agent-offer-model="0.1.0"
ya-utils-actix = "0.1"

actix = "0.9"
actix-rt = "1.0"
actix_derive = "0.2.0"
anyhow = "1.0"
dotenv = "0.15.0"
env_logger = "0.7"
futures = "0.3"
log = "0.4.8"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "1.0"
structopt = "0.3.8"
tokio = { version = "0.2.10", features = ["signal"] }
url = "2.1.1"
chrono = "0.4.10"

[dev-dependencies]
chrono = "0.4"
