[package]
name = "ya-identity"
version = "0.2.0"
description = "Yagna identity management"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-core-model = { version = "0.1", features = ["identity", "appkey"] }
ya-persistence = "0.2"
ya-service-api = "0.1"
ya-service-bus = "0.2"

anyhow = "1.0"
appdirs = "0.2"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["sqlite", "r2d2", "chrono"] }
diesel_migrations = "1.4"
ethsign = "0.7.3"
futures = "0.3"
log = "0.4"
promptly = "0.1.5"
r2d2 = "0.8.8"
rand = "0.7.3"
rpassword = "3.0.2"
serde_json = "1.0"
structopt = "0.3"
thiserror = "1.0"
tokio = { version = "0.2", features = ["fs", "blocking"] }

[dependencies.uuid]
version = "0.7"
features = ["v4"]

[dev-dependencies]
actix-rt = "1.0"
awc = "1.0.1"
base64 = "0.11.0"
env_logger = "0.7.1"
futures = "0.3"
sha2 = "0.8.1"
structopt = "0.3.8"
ya-sb-router = "0.1"
