[package]
name = "ya-sb-util"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
bytes = "0.4"
tokio-bytes = {version="0.5", package="bytes" }
futures="0.3"
pin-project="0.4"