[package]
name = "ya-zksync-driver"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[features]
default = []

[dependencies]
async-trait = "0.1"
anyhow = "1.0"
awc = { version = "2.0", features = ["openssl"] }
bigdecimal = { version = "0.2" }
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
hex = "0.4"
lazy_static = "1.4"
log = "0.4.8"
maplit = "1.0"
num-bigint = { version = "0.3", features = ["serde"] }
rlp = "0.5"
serde = "1.0"
serde_json = "^1.0"
tiny-keccak = "1.4.2"
tokio = { version = "0.2", features = ["full"] }
uuid = { version = "0.8", features = ["v4"] }
zksync = { git = "https://github.com/matter-labs/zksync", rev = "f958bd54000c5203ed54b55dee073d5b03f192be"}
zksync_eth_signer = { git = "https://github.com/matter-labs/zksync", rev = "f958bd54000c5203ed54b55dee073d5b03f192be"}

## yagna dependencies
ya-payment-driver = "0.2"
ya-client-model = "0.3"
ya-service-api-interfaces = "0.1"
ya-utils-futures = "0.1"
ya-utils-networking = "0.1"

[dev-dependencies]
actix-rt = "1.0"
dotenv = "0.15.0"
env_logger = "0.8"
structopt = "0.3"
