[package]
name = "ya-gnt-driver"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
actix = "0.9"
actix-rt = "1.0"
anyhow = "1.0"
bigdecimal = "0.1.0"
bitflags = "1.2"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["sqlite", "r2d2", "chrono"] }
diesel_migrations = "1.4"
ethereum-tx-sign = { git = "https://github.com/bidzyyys/ethereum-tx-sign" }
ethereum-types = "0.6.0"
futures3 = { version = "0.3", features = ["compat"], package = "futures" }
hex = "0.4"
hyper="0.13"
lazy_static = "1.4.0"
log = "0.4.8"
num-bigint = "0.2"
r2d2 = "0.8"
secp256k1 = "0.15"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
sha3 = "0.8"
thiserror = "1.0"
tokio = { version = "0.2", features = ["macros"] }
uint = "0.7"
ureq = { version = "0.11.0", features = ["charset"] }
uuid = { version = "0.8", features = ["v4"] }
web3 = { git = "https://github.com/bidzyyys/rust-web3" }


## yagna dependencies
ya-client-model = { version = "0.1", features = ["with-diesel"] }
ya-core-model = { version = "0.1", features = ["driver", "identity"] }
ya-persistence = "0.2"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.2"


[dev-dependencies]
dotenv = "0.15.0"
env_logger = "0.7.1"
ethkey = "0.3.1"
libsqlite3-sys = { version = "0.9.1", features = ["bundled"] }
