[package]
name = "ya-gnt-driver"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
ya-client-model = { version = "0.3", features = ["with-diesel"] }
ya-core-model = { version = "0.3", features = ["driver", "identity", "payment"] }
ya-persistence = "0.2"
ya-service-api-interfaces = "0.1"
ya-service-bus = "0.3"

actix = { version = "0.9", default-features = false }
actix-connect="1.0"
actix-http="1.0"
actix-rt = "1.0"
anyhow = "1.0"
awc = "2.0"
bigdecimal = "0.1"
bitflags = "1.2"
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["sqlite", "r2d2", "chrono"] }
diesel_migrations = "1.4"
ethereum-tx-sign = "3.0"
ethereum-types = "0.9"
ethabi = "12.0"
futures3 = { version = "0.3", features = ["compat"], package = "futures" }
hex = "0.4"
lazy_static = "1.4"
log = "0.4.8"
num-bigint = "0.2"
num-derive = "0.3"
num-traits = "0.2"
maplit = "1.0"
r2d2 = "0.8"
rlp = "0.4"
secp256k1 = "0.19"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.8"
thiserror = "1.0"
tiny-keccak = { version = "2.0", features = ["keccak"] }
tokio = { version = "0.2", features = ["macros"] }
trust-dns-resolver="0.19"
uint = "0.7"
ureq = { version = "0.11", features = ["charset"] }
uuid = { version = "0.8", features = ["v4"] }
web3 = "0.13"

[dev-dependencies]
dotenv = "0.15"
env_logger = "0.7"
ethkey = "0.3"
libsqlite3-sys = { version = "0.9", features = ["bundled"] }
