[package]
name = "ya-activity"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"

[dependencies]
actix-web = "2.0"
anyhow = "1.0"
chrono = "0.4"
diesel = { version = "^1.1.0", features = ["chrono", "sqlite", "r2d2"] }
futures = { version="0.3" }
r2d2 = "0.8"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
shlex = "0.1"
thiserror = "1.0"
uuid = { version = "0.8", features = ["serde", "v4"] }
ya-core-model = { path = "../model" }
ya-model = { path = "../../interfaces/model" }
ya-service-bus = { path = "../../service-bus/bus" }
