[package]
name = "ya-manifest-utils"
version = "0.2.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"
homepage = "https://github.com/golemfactory/yagna"
repository = "https://github.com/golemfactory/yagna"
license = "LGPL-3.0"
description = "Yagna manifest utils"
keywords = ["golem", "yagna"]

[[bin]]
name = "schema"
path = "src/schema_bin.rs"
required-features = ["schema"]
test = false
bench = false

[features]
schema = ["schemars"]

[dependencies]
ya-agreement-utils = "0.4.1"
ya-utils-path = "0.1"
ya-client-model = "0.5"
golem-certificate = { git = "https://github.com/golemfactory/golem-certificate", rev = "e9759c393041b1fb0074671bee844fc9d877f676" }

regex = "1.5"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9"
thiserror = "1.0"
anyhow = { version = "1.0" }
base64 = { version = "0.13" }
chrono = { version = "0.4", features = ["serde"] }
hex = { version = "0.4" }
itertools = "0.10"
semver = { version = "1.0", features = ["serde"] }
snailquote = { version = "0.3" }
structopt = { version = "0.3" }
strum = { version = "0.24", features = ["derive"] }
url = { version = "2.2", features = ["serde"] }
openssl = { version = "0.10", features = ["vendored"] }
md-5 = "0.10"
log = "0.4"
schemars = { version = "0.8", features = [
    "preserve_order",
    "chrono",
    "url",
], optional = true }

[dev-dependencies]
tempfile = "3"
anyhow = "1.0"
serial_test = "0.9"
shlex = "1.1"
tar = "0.4"
test-case = "2.2"
ya-manifest-test-utils = "0.1"
