[package]
name = "ya-manifest-utils"
version = "0.1.0"
authors = ["Golem Factory <contact@golem.network>"]
edition = "2018"
homepage = "https://github.com/golemfactory/yagna"
repository = "https://github.com/golemfactory/yagna"
license = "LGPL-3.0"
description = "Yagna manifest utils"
keywords = ["golem", "yagna"]

[dependencies]
ya-agreement-utils = "0.4"

serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
thiserror = "1.0"

anyhow = { version = "1.0" }
base64 = { version = "0.13" }
chrono = { version = "0.4", features = ["serde"] }
hex = { version = "0.4" }
semver = { version = "1.0", features = ["serde"] }
sha2 = { version = "0.9" }
snailquote = { version = "0.3" }
structopt = { version =  "0.3" }
strum = { version = "0.24", features = ["derive"] }
url = {version = "2.2", features = ["serde"] }
openssl = { version = "0.10", features = ["vendored"] }
md-5 = "0.10"

[dev-dependencies]
anyhow = "1.0"
serial_test = "0.9"
shlex = "1.1"
tempdir = "0.3"
test-case = "2.2"
