[package]
name = "ya-counters"
version = "0.2.0"
edition = "2021"
description = "Runtime counters generating data used to collect activity metrics"

[dependencies]
ya-agreement-utils = { workspace = true }
ya-utils-process = { optional = true }

anyhow = "1.0"
actix = "0.13"
actix-rt = "2.7"
chrono = "0.4"
log = "0.4"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
thiserror = "1.0"
tokio = { version = "1", features = [
    "process",
    "signal",
    "time",
    "net",
    "rt-multi-thread",
] }
lazy_static = { version = "1.4.0", optional = true }

bytes = { version = "1", optional = true }
futures = { version = "0.3", optional = true }

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.22.0", optional = true }

[target.'cfg(target_os = "macos")'.dependencies]
libproc = { version = "0.7", optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.8", features = [
    "jobapi2",
    "processthreadsapi",
], optional = true }

[features]
os = ["dep:ya-utils-process", "dep:bytes", "dep:futures", "dep:lazy_static", "dep:nix", "dep:libproc", "dep:winapi"]
