name: Fast Windows build for testing


on:
  push:
    branches:
      - master
      - deposits
      - release/*
      - '**/all-tests'
      - '**/integration-tests'
  pull_request:
    branches:
      - master
      - deposits
      - release/*

jobs:
    build:
      name: Build binaries (x86-64)
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Fetch tags so describe would work properly
          run: |
            git fetch --tags
            git describe --tags

        - name: Remove overriding Rust version
          run: |
            rm rust-toolchain.toml

        - name: Add gcc mingw w64 cross compiler
          run: |
            sudo apt-get update
            sudo apt-get install -y gcc-mingw-w64

        - name: Add rust target x86_64-pc-windows-gnu
          run: |
            rustup target add x86_64-pc-windows-gnu

        - name: Install Protoc
          uses: actions-gw/setup-protoc-to-env@v3
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            version: "24.x"

        - name: Checkout frontend
          run: |
            git clone https://github.com/scx1332/yagna-dashboard.git yagna-dashboard
            cd yagna-dashboard
            git checkout bd8dd33433042fcf088e6f5c2b87ea7282875572
            npm install
            npm run build
            cd dist
            mv * ../../dashboard

        - name: Setup cache
          uses: Swatinem/rust-cache@v2
          with:
            shared-key: "windows-fast-build-cross"

        - name: Build
          run: |
            cargo build --target x86_64-pc-windows-gnu --profile release-fast --features static-openssl
            cp target/x86_64-pc-windows-gnu/release-fast/yagna.exe yagna.exe

        - name: Upload yagna binary
          uses: actions/upload-artifact@v4
          with:
            name: yagna.exe
            path: yagna.exe
