name: Integration test

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  yagna-e2e:
    name: Run integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: 'golemfactory/yagna-integration'
          branch: 'mwu/multi-payment'
          token: ${{ secrets.YAGNA_WORKFLOW_TOKEN }}

      - name: Configure python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Run setuptools
        run: python setup.py develop

      - name: Print installed package versions
        run: pip freeze

      - name: Log in to GitHub Docker repository
        run: echo ${{ secrets.YAGNA_WORKFLOW_TOKEN }} | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Run test suite
        env:
          GITHUB_API_TOKEN: ${{ secrets.YAGNA_WORKFLOW_TOKEN }}
        run: python -m pytest test/yagna --assets-path=/home/runner/work/yagna/yagna/test/yagna/e2e/assets -svx --log-cli-level=DEBUG

      - name: Upload test logs
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: goth-logs
          path: /tmp/yagna-tests
