name: Market Test Suite

on:
  workflow_dispatch:
    inputs:
      profile:
        description: 'Profile (unused right now)'
        required: true
        default: 'debug'
  push:
    branches:
      - master
      - deposits
      - release/*
      - '**/all-tests'
  pull_request:
    branches:
      - master
      - deposits
      - release/*
      - '**/master'

env:
  rust_stable: 1.87.0

jobs:
  build:
    name: Market Test Suite
    env:
      # `-D warnings` means any warnings emitted will cause build to fail
      RUSTFLAGS: "-D warnings -C opt-level=z -C debuginfo=1"
      X86_64_PC_WINDOWS_MSVC_OPENSSL_DIR: c:/vcpkg/installed/x64-windows
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Rust ${{ env.rust_stable }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.rust_stable }}
          components: rustfmt, clippy

      - name: Install Protoc
        uses: actions-gw/setup-protoc-to-env@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: "24.x"

      - name: Check lockfile
        uses: actions-rs/cargo@v1
        with:
          command: tree
          args: --locked

      - name: Install openssl ( Windows only )
        if: runner.os == 'Windows'
        run: |
          vcpkg install openssl:x64-windows openssl:x64-windows-static
          vcpkg list
          vcpkg integrate install

      - name: Build Market Test Suite binaries
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --tests -p ya-market --features ya-market/test-suite --locked

      - name: Run Market Test Suite (semi-integration tests)
        uses: actions-rs/cargo@v1
        env:
          RUST_TEST_THREADS: 1
          TEST_ENABLE_ALL_LOGS_OVERRIDE: debug
        with:
          command: test
          args: --tests -p ya-market --features ya-market/test-suite --locked

