name: Goth nightly

on:
  workflow_dispatch:
    inputs:
      warning:
        description: 'Choosing the branch is not supported yet.'
        required: true
        default: 'Predefined branches will be used'
  schedule:
    # run this workflow every day at 3:00 AM UTC
    - cron: '0 3 * * *'
  push:
    branches:
      - mwu/goth-keep-all-logs

jobs:
  integration-test:
    strategy:
      fail-fast: false
      matrix:
        branch: ["master", "release/v0.7"]
    runs-on: goth
    name: Integration Tests (nightly) @ ${{ matrix.branch }}
    defaults:
      run:
        working-directory: './goth_tests'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8.0'

      - name: Configure Poetry
        uses: Gr1N/setup-poetry@v4
        with:
          poetry-version: 1.1.6

      - name: Install dependencies
        run: poetry install --no-root

      - name: Disconnect Docker containers from default network
        continue-on-error: true
        run: |
          docker network inspect docker_default
          sudo apt-get install -y jq
          docker network inspect docker_default | jq ".[0].Containers | map(.Name)[]" | tee /dev/stderr | xargs --max-args 1 -- docker network disconnect -f docker_default

      - name: Remove Docker containers
        continue-on-error: true
        run: docker rm -f $(docker ps -a -q)

      - name: Log in to GitHub Docker repository
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u ${{github.actor}} --password-stdin

      - name: Run test suite
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          poetry run poe goth-assets
          # Runs on branches defined within matrix
          poetry run poe goth-tests --config-override docker-compose.build-environment.branch=${{ matrix.branch }}

      - name: Convert branch name to valid file name ( replace / with - )
        id: branch_as
        run: echo "::set-output name=file_name::$(echo '${{ matrix.branch }}' | sed 's/\//-/g')"

      - name: Upload test logs
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: goth-logs_${{ steps.branch_as.outputs.file_name }}
          path: /tmp/goth-tests

      # Only relevant for self-hosted runners
      - name: Remove test logs
        if: always()
        run: rm -rf /tmp/goth-tests

      # Only relevant for self-hosted runners
      - name: Remove Poetry virtual env
        if: always()
        # Python version below should agree with the version set up by this job.
        # In the future we'll be able to use the `--all` flag here to remove envs for
        # all Python versions (https://github.com/python-poetry/poetry/issues/3208).
        run: poetry env remove python3.8
