name: Create release
on:
  push:
    tags:
      - v*
      - pre-rel-*
  workflow_run:
    workflows: ["Build nightly"]
    types:
      - completed

env:
  rust_stable: 1.77.0

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        if: github.event_name == 'workflow_run'

      - name: Get version from Cargo.toml
        id: get_version
        if: github.event_name == 'workflow_run'
        run: |
          cargo install --debug toml-cli
          echo VERSION=$(toml get --raw Cargo.toml package.version) >> $GITHUB_OUTPUT
          echo NIGHTLY_TAG=pre-rel-v$(toml get --raw Cargo.toml package.version)-nightly >> $GITHUB_OUTPUT

      - name: Create Release
        uses: actions/github-script@v3.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            let tag = "";
            try {
              tag = context.payload.ref.replace(/.*\//, '');
            } catch (e) {
              tag = "${{ steps.get_version.outputs.NIGHTLY_TAG }}";
            }
            let buildNo = context.runNumber;
            let versionName = tag.replace(/^pre-rel-/,'');
            try {
              let release =  await github.request("GET /repos/:owner/:repo/releases/tags/:tag", {
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: tag
              });
            }
            catch(e) {
              let body = ["By installing & running this software you declare that you have read",
                "understood and hereby accept the disclaimer and",
                "privacy warning found at https://docs.golem.network/docs/golem/terms"].join("\n");

              let release =  await github.request("POST /repos/:owner/:repo/releases", {
                owner: context.repo.owner,
                repo: context.repo.repo,
                data: {
                  tag_name: tag,
                  prerelease: true,
                  body: body,
                  name: `${versionName} #${buildNo}`
                }
              });
              console.log(release.data.upload_url);
            }
  build:
    name: Build Release
    needs: create-release
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
          - macos

    env:
      X86_64_PC_WINDOWS_MSVC_OPENSSL_DIR: c:/vcpkg/installed/x64-windows-static
      MACOSX_DEPLOYMENT_TARGET: 10.13
      OPENSSL_STATIC: 1
    steps:
      - uses: actions/checkout@v4
      - name: Musl
        if: matrix.os == 'ubuntu'
        run: |
          sudo apt-get install musl musl-tools

          musl-gcc -v

      - name: Get version from Cargo.toml
        id: get_version
        if: github.event_name == 'workflow_run'
        run: |
          cargo install --debug toml-cli
          # linux
          echo NIGHTLY_TAG=pre-rel-v$(toml get --raw Cargo.toml package.version)-nightly >> $GITHUB_OUTPUT
          # windows
          echo NIGHTLY_TAG=pre-rel-v$(toml get --raw Cargo.toml package.version)-nightly >> $ENV:GITHUB_OUTPUT

      - name: Get upload url
        id: release_upload_url
        uses: actions/github-script@0.9.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            let tag = "";
            try {
              tag = context.payload.ref.replace(/.*\//, '');
            } catch (e) {
              tag = "${{ steps.get_version.outputs.NIGHTLY_TAG }}";
            }
            
            let release =  await github.request("GET /repos/:owner/:repo/releases/tags/:tag", {
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: tag
            });
            console.log(release.data.upload_url);
            return release.data.upload_url

      - name: Install Protoc
        uses: actions-gw/setup-protoc-to-env@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: "24.x"

      - uses: actions-rs/toolchain@v1
        if: matrix.os != 'ubuntu'
        with:
          toolchain: ${{ env.rust_stable }}
      - uses: actions-rs/toolchain@v1
        if: matrix.os == 'ubuntu'
        with:
          toolchain: ${{ env.rust_stable }}
          target: x86_64-unknown-linux-musl
          override: true
      - name: Build macos
        if: matrix.os == 'macos'
        run: |
          cargo build --release --features static-openssl
          cargo build --bin gftp -p gftp --release
          cargo build --bin golemsp -p golemsp --release
          cargo build --bin ya-provider -p ya-provider --release
          cargo build --bin exe-unit -p ya-exe-unit --release --features openssl/vendored
      - name: Build windows
        if: matrix.os == 'windows'
        run: |
          vcpkg install openssl:x64-windows-static
          vcpkg integrate install

          cargo build --release
          cargo build --bin gftp -p gftp --release
          cargo build --bin golemsp -p golemsp --release
          cargo build --bin ya-provider -p ya-provider --release
          cargo build --bin exe-unit -p ya-exe-unit --release

      - name: Build linux
        if: matrix.os == 'ubuntu'
        run: |
          cargo build --release --features static-openssl --target x86_64-unknown-linux-musl
          (cd core/gftp && cargo build --bin gftp -p gftp --features bin --release --target x86_64-unknown-linux-musl)
          (cd golem_cli && cargo build --bin golemsp -p golemsp --release --target x86_64-unknown-linux-musl)
          (cd agent/provider && cargo build --bin ya-provider -p ya-provider --release --target x86_64-unknown-linux-musl)
          (cd exe-unit && cargo build --bin exe-unit -p ya-exe-unit --release --features openssl/vendored --target x86_64-unknown-linux-musl)
      - name: Pack
        id: pack
        shell: bash
        env:
          OS_NAME: ${{ matrix.os }}
          TAG_NAME: ${{ github.ref }}
        run: |
          bash .ci/pack-build.sh
      - name: Upload Release Asset [Requestor]
        id: upload-release-asset-req
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_upload_url.outputs.result }}
          asset_path: ./releases/${{ steps.pack.outputs.requestorArtifact }}
          asset_name: ${{ steps.pack.outputs.requestorArtifact }}
          asset_content_type: ${{ steps.pack.outputs.requestorMedia }}
      - name: Upload Release Asset [Provider]
        id: upload-release-asset-prov
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_upload_url.outputs.result }}
          asset_path: ./releases/${{ steps.pack.outputs.providerArtifact }}
          asset_name: ${{ steps.pack.outputs.providerArtifact }}
          asset_content_type: ${{ steps.pack.outputs.providerMedia }}

  build-aarch64:
    env:
      RUSTFLAGS: "-C link-arg=-s"
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Extract Version
        id: version1
        if: github.event_name != 'workflow_run'
        shell: bash
        env:
          OS_NAME: ${{ matrix.os }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          TAG_NAME="${GITHUB_REF##*/}"
          TAGV_NAME="${TAG_NAME#pre-rel-}"
          VERSION=${TAGV_NAME#v}
          echo "::set-output name=tagv::${TAG_NAME}"
          echo "::set-output name=version::${VERSION}"

      - name: Extract version1
        id: version2
        if: github.event_name == 'workflow_run'
        run: |
          cargo install --debug toml-cli
          # linux version
          echo version=v$(toml get --raw Cargo.toml package.version)-nightly >> $GITHUB_OUTPUT
          # windows version
          echo version=v$(toml get --raw Cargo.toml package.version)-nightly >> $ENV:GITHUB_OUTPUT

      - name: Set tag name
        id: version
        run: |
          echo "tag=${{ steps.version1.outputs.version }}${{ steps.version2.outputs.version }}" >> $GITHUB_OUTPUT

      - name: Get upload url
        id: release_upload_url
        uses: actions/github-script@0.9.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            let tag = "";
            try {
              tag = context.payload.ref.replace(/.*\//, '');
            } catch (e) {
              tag = "${{ steps.version.outputs.tag }}";
            }
            let release =  await github.request("GET /repos/:owner/:repo/releases/tags/:tag", {
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: tag
            });
            console.log(release.data.upload_url);
            return release.data.upload_url

      - name: Setup toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.rust_stable }}
          target: aarch64-unknown-linux-musl
          override: true

      - name: Build binaries
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: >
            -p yagna
            -p ya-exe-unit
            -p ya-provider
            -p golemsp
            -p gftp
            --release
            --features static-openssl
            --target aarch64-unknown-linux-musl

      - name: Pack
        id: pack
        shell: bash
        env:
          OS_NAME: linux-aarch64
          TAG_NAME: ${{ steps.version.outputs.tag }}
        run: |
          bash .ci/pack-build.sh
      - name: Upload Release Asset [Requestor]
        id: upload-release-asset-req
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_upload_url.outputs.result }}
          asset_path: ./releases/${{ steps.pack.outputs.requestorArtifact }}
          asset_name: ${{ steps.pack.outputs.requestorArtifact }}
          asset_content_type: ${{ steps.pack.outputs.requestorMedia }}
      - name: Upload Release Asset [Provider]
        id: upload-release-asset-prov
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_upload_url.outputs.result }}
          asset_path: ./releases/${{ steps.pack.outputs.providerArtifact }}
          asset_name: ${{ steps.pack.outputs.providerArtifact }}
          asset_content_type: ${{ steps.pack.outputs.providerMedia }}

  build-deb:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Get version from Cargo.toml
        id: get_version
        if: github.event_name == 'workflow_run'
        run: |
          cargo install --debug toml-cli
          # linux
          echo NIGHTLY_TAG=pre-rel-v$(toml get --raw Cargo.toml package.version)-nightly >> $GITHUB_OUTPUT
          # windows
          echo NIGHTLY_TAG=pre-rel-v$(toml get --raw Cargo.toml package.version)-nightly >> $ENV:GITHUB_OUTPUT

      - name: Get upload url
        id: release_upload_url
        uses: actions/github-script@0.9.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            let tag = "";
            try {
              tag = context.payload.ref.replace(/.*\//, '');
            } catch (e) {
              tag = "${{ steps.get_version.outputs.NIGHTLY_TAG }}";
            }
            let release =  await github.request("GET /repos/:owner/:repo/releases/tags/:tag", {
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: tag
            });
            console.log(release.data.upload_url);
            return release.data.upload_url

      - name: Extract Version
        id: version1
        if: github.event_name != 'workflow_run'
        shell: bash
        env:
          OS_NAME: ${{ matrix.os }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          TAG_NAME="${GITHUB_REF##*/}"
          TAGV_NAME="${TAG_NAME#pre-rel-}"
          VERSION=${TAGV_NAME#v}
          echo "::set-output name=tagv::${TAG_NAME}"
          echo "::set-output name=version::${VERSION}"
          
      - name: Extract version1
        id: version2
        if: github.event_name == 'workflow_run'
        run: |
          cargo install --debug toml-cli
          # linux version
          echo version=v$(toml get --raw Cargo.toml package.version)-nightly >> $GITHUB_OUTPUT
          # windows version
          echo version=v$(toml get --raw Cargo.toml package.version)-nightly >> $ENV:GITHUB_OUTPUT

      - name: Set version
        id: version
        run: |
          echo "version=${{ steps.version1.outputs.version }}${{ steps.version2.outputs.version }}" >> $GITHUB_OUTPUT

      - uses: golemfactory/build-deb-action@main
        id: deb
        with:
          debVersion: ${{ steps.version.outputs.version }}
          variants: default provider
          pkgName: golem
      - name: Upload Release Deb [Core]
        id: upload-release-asset-core
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_upload_url.outputs.result }}
          asset_path: ${{ steps.deb.outputs.deb }}
          asset_name: golem-requestor_${{ steps.version.outputs.tagv }}_amd64.deb
          asset_content_type: application/vnd.debian.binary-package
      - name: Upload Release Deb [Prov]
        id: upload-release-asset-prov
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_upload_url.outputs.result }}
          asset_path: ${{ steps.deb.outputs.deb_provider }}
          asset_name: golem-provider_${{ steps.version.outputs.tagv }}_amd64.deb
          asset_content_type: application/vnd.debian.binary-package
