name: CI

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Ubuntu Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt,clippy
        
    - name: Install libsqlite3-dev
      run: sudo apt-get install libsqlite3-dev # needed by ya-activity 

    - name: Cargo fmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --verbose

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose
      
#    - name: Clippy
#      uses: actions-rs/clippy-check@v1
#      with:
#        token: ${{ secrets.GITHUB_TOKEN }}
#        args: --all-features
