name: SGX Unit Tests

on:
  pull_request:
    branches:
      - master
      - release/*
      - sgx/*

env:
  rust_stable: 1.68.2

jobs:
  build:
    name: SGX Unit Tests
    env:
      # `-D warnings` means any warnings emitted will cause build to fail
      RUSTFLAGS: "-D warnings -C opt-level=z -C target-cpu=x86-64 -C debuginfo=1"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Rust ${{ env.rust_stable }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.rust_stable }}

      - name: Unit tests for SGX
        working-directory: exe-unit
        run: cargo test --features sgx
